<?xml version="1.0"?>
<!--
 /**
 * Created: 2020
 *
 * @package   PHPAISS_WysiwygAdvanced
 * @category  PHPAISS
 * @author    Yassine AISSAOUI
 * @copyright PHPAISS Magento 2
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cms>
            <wysiwyg>
                <advanced_wysiwyg>1</advanced_wysiwyg>
            </wysiwyg>
        </cms>
    </default>
</config>
